<% if user_signed_in? %>
  <li class="hide-for-small">
  <%= link_to('Account', edit_user_registration_path, class: "small whitebutton right") %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path, class: "small whitebutton right")  %>
  </li>
<% end %>