<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there!</h1>
    <p>
      Anto here, ready to help. Just reply to me to let me know what I can do for you.
      <br>
      Have some doubts concerning a step? Want to polish your resumes and/or interview skills?
    </p>
    <p>
      In the meantime, <%= link_to "feel free to start working on the 7 steps described on my website", "http://7stepstothejobyouwant.com" %>.
    </p>
    <p>Looking forward to helping you out,
      <br>
      Anto
    </p>
  </body>
</html>