<p>
  <strong>User:</strong>
  <%= @opening.user_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @opening.link %>
</p>

<%= link_to 'Edit', edit_opening_path(@opening) %> |
<%= link_to 'Back', openings_path %>
