<%= render 'static/five_content' %>
        <p><span class="bluecolor font700">Done! On to <%= link_to "Step 6", "#step6" %>.</span></p>
    </div>
    <hr/>
    <%= render 'users/form', tagline: "We'll help you write perfect cover letters." %>
</div>
<%= render 'static/right_arrow' %>