<%= render 'static/four_content' %>
         <p>On to <%= link_to "Step 5", "#step5" %></p>
    </div>
    <hr/>
    <%= render 'users/form', tagline: "We'll help you make your resume." %>
</div>
<%= render 'static/left_arrow' %>