<p href="#step7" class="row accordiontitle font700"  data-section-title >
    <span><%= image_tag "step7tag.png" %>INTERVIEW TIPS</span>
    <br/>
    For before, during and after.
    <a class="hide-for-small activearrow whitebutton"><i class="fi-down-arrow"></i></a>
</p>
<div class="content row" data-section-content>
    <div class="large-12 medium-3 medium-centered small-8 small-centered columns"><%= image_tag "step7guy.png" %>
    </div>
    <div class="large-12 medium-12 columns">
        <p class="bluecolor font500">FIRST: GOOGLE THEM</p>
        <p>Google the person you're going to talk to:</p>
        <ul class="nolist">
            <li><span class="fi-checkmark"></span>LinkedIn profile</li>
            <li><span class="fi-checkmark"></span>Social media activity: Twitter, Facebook, Instagram, Tumblr account.</li>
            <li><span class="fi-checkmark"></span>Follow any links that show up on the first two Google pages: this person might have invented stuff, be a speaker at some conference or won a medal for swimming.</li>
        </ul>
        <p>If recruiters like you, your chances are improved. Droping a name, a sport or a place that you know the interviewer will be glad to hear will improve your chances of getting hired. We all like familiarity, and when facing the unknown (several candidates), we choose something we can relate to. These little aspects might make the difference between two similar apt candidates. Don't leave any room for chance.</p>
        <br>
        <p class="bluecolor font500">SECOND: WHY ARE THEY CALLING YOU?</p>
        <p>Bring with you the job opening, the resume and cover letter you sent in a nice folder. Bring a notepad and a pen.</p>
        <br>
        <p class="bluecolor font500">THIRD: PREPARE YOUR QUESTIONS.</p>
        <p>As soon as you can, start asking questions. Some examples:</p>
        <ul class="nolist">
            <li><span class="fi-checkmark"></span>Could you share with me more details about the position?</li>
            <li><span class="fi-checkmark"></span>How many people would I be working on a daily basis?</li>
            <li><span class="fi-checkmark"></span>How many people would be on my team?</li>
            <li><span class="fi-checkmark"></span>Are there running projects I'd be incorporated to?</li>
            <li><span class="fi-checkmark"></span>What kind of mobility should I expect?</li>
        </ul>
        <br>
        <p class="bluecolor font500">FOURTH: THE NEXT STEP</p>
        <p>Do not leave the interview without a next step: When can you call them back? When will they reach out to you?</p>
        <br>
        <p class="bluecolor font500">FIFTH: IMMEDIATE FOLLOW UP</p>
        <p>After every interview, send an email that reads something like this:</p>
        <div class="bluepanel">
            <p><span class="font700">
                "Dear (name of person you met),
                <br/>
                Thank you for giving me the opportunity to show you how I will be able to contribute to the ongoing success of (company name). I remain open to any further questions you have about me and/or my profile, and I'm eager about the possibility of joining you.
                <br/>
                Thanks again,
                <br/>
                Your name/phone"</span>
            </p>
        </div>
        <br/>
        <br/>
        <p class="bluecolor font500">SIXTH: RECURRING FOLLOW UP</p>
        <p>Call them/mail them once a week (Better on a Tuesday, never on a Friday) until they've notified you about the decision.</p>
        <p>Every day that goes by and you don't have an answer, it is because
            <br/
            >a) they are still interviewing candidates,
            <br/>
            b) they are still making their minds up or
            <br/>
            c) they chose someone and haven't told you yet.
        </p>
        <p>On a) you're staying on their radar, reinforcing your interest and motivation.
            <br/>
            On b) you're proving that not only you have the qualities for the job, but also that you really want to join them. It might be the thing that makes the balance go your way.
        </p>
        <br>
        <p class="bluecolor font500">SEVENTH: ASKING FOR FEEDBACK</p>
        <p>What happens if they have made up their minds and they're not communicating? Well keep annoying them until they do. And then ask for feedback with something along these lines.</p>
         <div class="bluepanel">
            <p><span class="font700">
                "Dear (name of person you met),<br/>Thank you for letting me know about the results of your recruiting process. (Company name) is a place where I would really like to bring my skills, so please do not hesitate to contact me if you have a new opening that might suit me. <br> Additionally, would you mind sharing your thoughts on how can I improve my chances of joining you? If there are things you can provide me some feedback on, I'd really appreciate it.<br> I hope the selected candidate will bring as much enthusiasm and expertise as I was willing to and you were looking for.<br/>
                Thanks again,<br/>
                Your name/phone"</span>
            </p>
        </div>
        <br/>
        <br/>
