<%= render 'static/six_content' %>
         <p>On to <%= link_to "Step 7", "#step7" %></p>
        <hr/>
        <%= render 'users/form', tagline: "Practice with us. We'll be merciless." %>
    </div>
</div>
<%= render 'static/left_arrow' %>