<%= render 'static/three_content' %>
            <p>Next time you go through this step, just add the new answers from the new job opening to your LinkedIn profile work experience/degree/skills. Done. On to <%= link_to "Step 4", "#step4" %></p>
        </div>
    </div>
    <hr/>
    <%= render 'users/form', tagline: "We'll make your Online profile impeccable" %>
</div>
<%= render 'static/right_arrow' %>