<%= render 'static/two_content' %>
    <p>Answers ready? Move to <%= link_to "Step 3", "#step3"%>.</p>
    <hr/>
    <%= render 'users/form', tagline: "We'll help you give the most concise, specific replies" %>
</div>
<%= render 'static/left_arrow' %>